In [4]:
import numpy as np
import pandas as pd

<h1> Import Dataset </h1>

In [18]:
df = pd.read_csv('/content/sample_data/Movies Recommendation.csv')

In [15]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  272 non-null    int64
 1   Movie_Title               272 non-null    object
 2   Movie_Genre               272 non-null    object
 3   Movie_Language            272 non-null    object
 4   Movie_Budget              272 non-null    int64
 5   Movie_Popularity          272 non-null    float64
 6   Movie_Release_Date        272 non-null    object
 7   Movie_Revenue             272 non-null    int64
 8   Movie_Runtime             272 non-null    int64
 9   Movie_Vote                272 non-null    float64
 10  Movie_Vote_Count          272 non-null    int64
 11  Movie_Homepage            121 non-null    object
 12  Movie_Keywords            271 non-null    object
 13  Movie_Overview            272 non-null    object
 14  Movie_Production_House    272 non-null    object
 15  Movie_Production_Country  272 non-null    object
 16  Movie_Spoken_Language     272 non-null    object
 17  Movie_Tagline             257 non-null    object
 18  Movie_Cast                271 non-null    object
 19  Movie_Crew                271 non-null    object
 20  Movie_Director            269 non-null    object
dtypes: float64(2), int64(5), object(14)
memory usage: 44.8+ KB

<h1>Get Feature Selection</h1>

In [35]:
df_features= df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [36]:
df_features.shape

(272, 5)

In [37]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
267,Drama History War,berlin poison dictator clerk ideology,"April 1945, a nation awaits its...Downfall",Bruno Ganz Alexandra Maria Lara Corinna Harfou...,Oliver Hirschbiegel
268,Drama,christianity jewry roman empire jesus christ s...,"By his wounds, we were healed.",Jim Caviezel Maia Morgenstern Monica Bellucci ...,Mel Gibson
269,Drama Action War History,japan war crimes sense of guilt swordplay general,"In the face of an enemy, in the heart of one m...",Tom Cruise Ken Watanabe William Atherton Chad ...,Edward Zwick
270,Crime Drama Mystery,upper class poison sailboat rape sexual abuse,They're dying to play with you.,Matt Dillon Kevin Bacon Denise Richards Neve C...,John McNaughton
271,Thriller Action Drama Music Romance,sister sister relationship anonymous letter di...,Never let her out of your sigh,,

In [39]:
x = df_features['Movie_Genre'] + ' ' + df_features['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + ' ' +  df_features['Movie_Cast'] +  ' ' + df_features['Movie_Director']

In [40]:
x

0      Crime Comedy hotel new year's eve witch bet ho...
1      Adventure Action Science Fiction android galax...
2      Animation Family father son relationship harbo...
3      Comedy Drama Romance vietnam veteran hippie me...
4      Drama male nudity female nudity adultery midli...
                             ...
267    Drama History War berlin poison dictator clerk...
268    Drama christianity jewry roman empire jesus ch...
269    Drama Action War History japan war crimes sens...
270    Crime Drama Mystery upper class poison sailboa...
271    Thriller Action Drama Music Romance sister sis...
Length: 272, dtype: object

In [41]:
x.shape

(272,)

<h1>Get Feature Text Conversion to Tokens<h1>

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tfidf = TfidfVectorizer()

In [45]:
x = tfidf.fit_transform(x)

In [46]:
x.shape

(272, 3174)

In [47]:
print(x)

  (0, 94)	0.16151382893476612
  (0, 75)	0.16151382893476612
  (0, 2818)	0.16151382893476612
  (0, 1789)	0.16151382893476612
  (0, 1751)	0.16151382893476612
  (0, 227)	0.15044475710795777
  (0, 1445)	0.13152205383524862
  (0, 202)	0.16151382893476612
  (0, 124)	0.16151382893476612
  (0, 2390)	0.15044475710795777
  (0, 2801)	0.10650760074783737
  (0, 1665)	0.08851039933221591
  (0, 2047)	0.06406669226289037
  (0, 3079)	0.16151382893476612
  (0, 1011)	0.09732201293668222
  (0, 3069)	0.11757667257464571
  (0, 1460)	0.14259112566205698
  (0, 2771)	0.10276061886983863
  (0, 2061)	0.07775693437508759
  (0, 709)	0.12731378803619972
  (0, 990)	0.12045298200844029
  (0, 1301)	0.21301520149567474
  (0, 1378)	0.15303165129663973
  (0, 253)	0.16151382893476612
  (0, 1697)	0.16151382893476612
  :	:
  (270, 3153)	0.11982174165888336
  (270, 808)	0.06520317536520992
  (270, 2280)	0.17471625345932248
  (270, 2782)	0.1667700912523648
  (270, 648)	0.09292831324773035
  (271, 2552)	0.26424046902006854
  (271, 1650)	0.26424046902006854
  (271, 180)	0.26424046902006854
  (271, 2079)	0.26424046902006854
  (271, 320)	0.26424046902006854
  (271, 776)	0.26424046902006854
  (271, 1652)	0.26424046902006854
  (271, 119)	0.26424046902006854
  (271, 2568)	0.430346421988985
  (271, 1277)	0.20828838796828017
  (271, 3155)	0.180640275089768
  (271, 2795)	0.09838141148626106
  (271, 1958)	0.17424897026729322
  (271, 2085)	0.19235823527836546
  (271, 1998)	0.1970639459834203
  (271, 2374)	0.12420006958378038
  (271, 808)	0.07354321520584096
  (271, 2306)	0.15143399455116618
  (271, 21)	0.09784003585174796
  (271, 2047)	0.10481463366798152

<h1>Get Similarity Score Using Cosine Similarity</h1>

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
Similarity_Score = cosine_similarity(x)

In [71]:
Similarity_Score

array([[1.        , 0.01485375, 0.04164548, ..., 0.07594691, 0.00595361,
        0.00671513],
       [0.01485375, 1.        , 0.00887977, ..., 0.02299334, 0.        ,
        0.00742245],
       [0.04164548, 0.00887977, 1.        , ..., 0.03969736, 0.04808746,
        0.01675919],
       ...,
       [0.07594691, 0.02299334, 0.03969736, ..., 1.        , 0.00347562,
        0.04270959],
       [0.00595361, 0.        , 0.04808746, ..., 0.00347562, 1.        ,
        0.00479525],
       [0.00671513, 0.00742245, 0.01675919, ..., 0.04270959, 0.00479525,
        1.        ]])

In [72]:
Similarity_Score.shape

(272, 272)

<h1>Get Movie Name as Input from User and Validate for Closest Spelling</h1>

In [81]:
Favourite_Movie_Name = input(" Enter your favourite movie name :")

 Enter your favourite movie name :Four Rooms

In [82]:
All_Movies_Title_List=df["Movie_Title"].tolist()

In [83]:
import difflib

In [84]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

['Four Rooms']

In [85]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

Four Rooms

In [86]:
Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

1

In [87]:
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))
print(Recommendation_Score)

[(0, 0.014853746184622737), (1, 1.0000000000000002), (2, 0.00887977228182446), (3, 0.0), (4, 0.0), (5, 0.018410367003519217), (6, 0.03343649373197639), (7, 0.014589175130752436), (8, 0.023318021449742668), (9, 0.013272582509446136), (10, 0.006846762697256978), (11, 0.05514339899976203), (12, 0.023594804557804015), (13, 0.0), (14, 0.0), (15, 0.044109138456416216), (16, 0.01855635805792383), (17, 0.015266031438032839), (18, 0.0), (19, 0.034239716456993724), (20, 0.0), (21, 0.0), (22, 0.018593146608679178), (23, 0.0), (24, 0.012730850622394638), (25, 0.0), (26, 0.0), (27, 0.02593328636515687), (28, 0.018618047065838365), (29, 0.0), (30, 0.06249122155873918), (31, 0.09690010782359146), (32, 0.01245561440387944), (33, 0.03312452452804497), (34, 0.0), (35, 0.09324564234726457), (36, 0.06519480148691867), (37, 0.08013150049301133), (38, 0.007310503731757692), (39, 0.03228984901788887), (40, 0.007210988669644716), (41, 0.015019982858382255), (42, 0.0), (43, 0.025566230369702785), (44, 0.005498968594302825), (45, 0.023698768462435984), (46, 0.030953192723861416), (47, 0.0), (48, 0.007140532737683986), (49, 0.0), (50, 0.0), (51, 0.0), (52, 0.0), (53, 0.0073039190665169585), (54, 0.03366622039958096), (55, 0.034944775800257274), (56, 0.03345384898795771), (57, 0.006732043763520656), (58, 0.006879663570628876), (59, 0.03149088367250305), (60, 0.0), (61, 0.08541879818037859), (62, 0.0), (63, 0.01149146095167454), (64, 0.01798496542697909), (65, 0.056819000734435535), (66, 0.0), (67, 0.05023446653165557), (68, 0.006797911450978337), (69, 0.06314945728779732), (70, 0.031154766930354023), (71, 0.0), (72, 0.018549363983663653), (73, 0.02317316263158622), (74, 0.019700009358612155), (75, 0.07093370489604879), (76, 0.04415727000282718), (77, 0.013758918228830441), (78, 0.05592777200437704), (79, 0.04526959800077168), (80, 0.051961567770926705), (81, 0.0), (82, 0.0), (83, 0.0), (84, 0.023995336059728548), (85, 0.017879152867617206), (86, 0.008985558623470497), (87, 0.028998817778413913), (88, 0.013372570186964921), (89, 0.0), (90, 0.05568952482745059), (91, 0.10255439137635013), (92, 0.014432265910134951), (93, 0.035978337390265604), (94, 0.032058327085038155), (95, 0.036344621024189235), (96, 0.018459801003980408), (97, 0.016626202619281924), (98, 0.016932411108751818), (99, 0.0), (100, 0.0), (101, 0.07860405396455869), (102, 0.039505263477270694), (103, 0.0), (104, 0.018131123811700303), (105, 0.01715230172669332), (106, 0.01583754645403034), (107, 0.020328700492169168), (108, 0.015465503578462237), (109, 0.021868881035785142), (110, 0.018449039707329834), (111, 0.019792636529432812), (112, 0.020858904327646446), (113, 0.008423752643823614), (114, 0.0), (115, 0.0385055177866457), (116, 0.0), (117, 0.018525871751393804), (118, 0.013396360036566253), (119, 0.02879468047270437), (120, 0.0), (121, 0.009488545961447476), (122, 0.016398020756489294), (123, 0.006813654534389491), (124, 0.0), (125, 0.007062241578391112), (126, 0.02774961960405309), (127, 0.0), (128, 0.027842336193091285), (129, 0.0), (130, 0.020204157923748207), (131, 0.0), (132, 0.009847050193087249), (133, 0.0), (134, 0.0), (135, 0.02602648941190983), (136, 0.019229432833934773), (137, 0.018411793292529975), (138, 0.0), (139, 0.0071521189928725), (140, 0.0), (141, 0.010894730686797974), (142, 0.018326423977564326), (143, 0.017165226050445896), (144, 0.005824854830796595), (145, 0.0), (146, 0.01861466030853485), (147, 0.0), (148, 0.02386691445628568), (149, 0.0), (150, 0.045685616449910586), (151, 0.03520210814244857), (152, 0.06400772406241133), (153, 0.05699548603992126), (154, 0.0), (155, 0.0075942798732141145), (156, 0.00916119889559199), (157, 0.0), (158, 0.01948312451075056), (159, 0.0055467557916750836), (160, 0.0637593203581094), (161, 0.0), (162, 0.006916418508561719), (163, 0.0), (164, 0.0), (165, 0.013091849827741132), (166, 0.0), (167, 0.0497834453000016), (168, 0.008275227538583067), (169, 0.0), (170, 0.005866140785117496), (171, 0.032813126883290855), (172, 0.010643271990940228), (173, 0.0), (174, 0.01705195518445691), (175, 0.0), (176, 0.0), (177, 0.0), (178, 0.010650148901477828), (179, 0.007215048203676715), (180, 0.006557716944433817), (181, 0.025072675068258318), (182, 0.007519221852434744), (183, 0.0), (184, 0.0), (185, 0.00665434312909299), (186, 0.0), (187, 0.01692675435127894), (188, 0.0), (189, 0.034740709023410726), (190, 0.0), (191, 0.03332564839956359), (192, 0.0), (193, 0.0), (194, 0.0347737201922996), (195, 0.0), (196, 0.0), (197, 0.0), (198, 0.0), (199, 0.019442388835916296), (200, 0.028173170376173565), (201, 0.014069624179439143), (202, 0.0072830618756440785), (203, 0.019066576172927247), (204, 0.0), (205, 0.0), (206, 0.0), (207, 0.0), (208, 0.05458816075500823), (209, 0.0), (210, 0.00714516640769027), (211, 0.0), (212, 0.03889809438195652), (213, 0.0), (214, 0.0), (215, 0.0), (216, 0.0), (217, 0.005789551902025407), (218, 0.016082805401682193), (219, 0.024279620010227133), (220, 0.026883261831835394), (221, 0.0), (222, 0.0), (223, 0.01591284449192205), (224, 0.0), (225, 0.01102156593680976), (226, 0.0), (227, 0.0), (228, 0.007689585647823958), (229, 0.0), (230, 0.006139478992838565), (231, 0.02495314114614187), (232, 0.015057867003805462), (233, 0.006372116413308198), (234, 0.029909219853418163), (235, 0.02448159550790649), (236, 0.03819231558435924), (237, 0.04286074947064369), (238, 0.0), (239, 0.019916801846281196), (240, 0.009716920093029437), (241, 0.05033448852234312), (242, 0.00656350495518705), (243, 0.0), (244, 0.005805802517300407), (245, 0.0), (246, 0.0), (247, 0.014304545733645205), (248, 0.0), (249, 0.055943711818999174), (250, 0.0), (251, 0.07304480867376956), (252, 0.026053639684629277), (253, 0.0), (254, 0.0), (255, 0.03632578984884748), (256, 0.0), (257, 0.037138539048264), (258, 0.03212829579312722), (259, 0.05823738156848359), (260, 0.0639107849708935), (261, 0.061858667459442136), (262, 0.0), (263, 0.030921986179929098), (264, 0.03285761907867416), (265, 0.021075092314601647), (266, 0.013039303639115422), (267, 0.0), (268, 0.0), (269, 0.02299333976376184), (270, 0.0), (271, 0.0074224461044466805)]

In [88]:
len(Recommendation_Score)

272

<h1>Get All Movies Sort Based on Recommendation Score wrt Facourite Movie</h1>

In [90]:
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse=True)

print(Sorted_Similar_Movies)

[(1, 1.0000000000000002), (91, 0.10255439137635013), (31, 0.09690010782359146), (35, 0.09324564234726457), (61, 0.08541879818037859), (37, 0.08013150049301133), (101, 0.07860405396455869), (251, 0.07304480867376956), (75, 0.07093370489604879), (36, 0.06519480148691867), (152, 0.06400772406241133), (260, 0.0639107849708935), (160, 0.0637593203581094), (69, 0.06314945728779732), (30, 0.06249122155873918), (261, 0.061858667459442136), (259, 0.05823738156848359), (153, 0.05699548603992126), (65, 0.056819000734435535), (249, 0.055943711818999174), (78, 0.05592777200437704), (90, 0.05568952482745059), (11, 0.05514339899976203), (208, 0.05458816075500823), (80, 0.051961567770926705), (241, 0.05033448852234312), (67, 0.05023446653165557), (167, 0.0497834453000016), (150, 0.045685616449910586), (79, 0.04526959800077168), (76, 0.04415727000282718), (15, 0.044109138456416216), (237, 0.04286074947064369), (102, 0.039505263477270694), (212, 0.03889809438195652), (115, 0.0385055177866457), (236, 0.03819231558435924), (257, 0.037138539048264), (95, 0.036344621024189235), (255, 0.03632578984884748), (93, 0.035978337390265604), (151, 0.03520210814244857), (55, 0.034944775800257274), (194, 0.0347737201922996), (189, 0.034740709023410726), (19, 0.034239716456993724), (54, 0.03366622039958096), (56, 0.03345384898795771), (6, 0.03343649373197639), (191, 0.03332564839956359), (33, 0.03312452452804497), (264, 0.03285761907867416), (171, 0.032813126883290855), (39, 0.03228984901788887), (258, 0.03212829579312722), (94, 0.032058327085038155), (59, 0.03149088367250305), (70, 0.031154766930354023), (46, 0.030953192723861416), (263, 0.030921986179929098), (234, 0.029909219853418163), (87, 0.028998817778413913), (119, 0.02879468047270437), (200, 0.028173170376173565), (128, 0.027842336193091285), (126, 0.02774961960405309), (220, 0.026883261831835394), (252, 0.026053639684629277), (135, 0.02602648941190983), (27, 0.02593328636515687), (43, 0.025566230369702785), (181, 0.025072675068258318), (231, 0.02495314114614187), (235, 0.02448159550790649), (219, 0.024279620010227133), (84, 0.023995336059728548), (148, 0.02386691445628568), (45, 0.023698768462435984), (12, 0.023594804557804015), (8, 0.023318021449742668), (73, 0.02317316263158622), (269, 0.02299333976376184), (109, 0.021868881035785142), (265, 0.021075092314601647), (112, 0.020858904327646446), (107, 0.020328700492169168), (130, 0.020204157923748207), (239, 0.019916801846281196), (111, 0.019792636529432812), (74, 0.019700009358612155), (158, 0.01948312451075056), (199, 0.019442388835916296), (136, 0.019229432833934773), (203, 0.019066576172927247), (28, 0.018618047065838365), (146, 0.01861466030853485), (22, 0.018593146608679178), (16, 0.01855635805792383), (72, 0.018549363983663653), (117, 0.018525871751393804), (96, 0.018459801003980408), (110, 0.018449039707329834), (137, 0.018411793292529975), (5, 0.018410367003519217), (142, 0.018326423977564326), (104, 0.018131123811700303), (64, 0.01798496542697909), (85, 0.017879152867617206), (143, 0.017165226050445896), (105, 0.01715230172669332), (174, 0.01705195518445691), (98, 0.016932411108751818), (187, 0.01692675435127894), (97, 0.016626202619281924), (122, 0.016398020756489294), (218, 0.016082805401682193), (223, 0.01591284449192205), (106, 0.01583754645403034), (108, 0.015465503578462237), (17, 0.015266031438032839), (232, 0.015057867003805462), (41, 0.015019982858382255), (0, 0.014853746184622737), (7, 0.014589175130752436), (92, 0.014432265910134951), (247, 0.014304545733645205), (201, 0.014069624179439143), (77, 0.013758918228830441), (118, 0.013396360036566253), (88, 0.013372570186964921), (9, 0.013272582509446136), (165, 0.013091849827741132), (266, 0.013039303639115422), (24, 0.012730850622394638), (32, 0.01245561440387944), (63, 0.01149146095167454), (225, 0.01102156593680976), (141, 0.010894730686797974), (178, 0.010650148901477828), (172, 0.010643271990940228), (132, 0.009847050193087249), (240, 0.009716920093029437), (121, 0.009488545961447476), (156, 0.00916119889559199), (86, 0.008985558623470497), (2, 0.00887977228182446), (113, 0.008423752643823614), (168, 0.008275227538583067), (228, 0.007689585647823958), (155, 0.0075942798732141145), (182, 0.007519221852434744), (271, 0.0074224461044466805), (38, 0.007310503731757692), (53, 0.0073039190665169585), (202, 0.0072830618756440785), (179, 0.007215048203676715), (40, 0.007210988669644716), (139, 0.0071521189928725), (210, 0.00714516640769027), (48, 0.007140532737683986), (125, 0.007062241578391112), (162, 0.006916418508561719), (58, 0.006879663570628876), (10, 0.006846762697256978), (123, 0.006813654534389491), (68, 0.006797911450978337), (57, 0.006732043763520656), (185, 0.00665434312909299), (242, 0.00656350495518705), (180, 0.006557716944433817), (233, 0.006372116413308198), (230, 0.006139478992838565), (170, 0.005866140785117496), (144, 0.005824854830796595), (244, 0.005805802517300407), (217, 0.005789551902025407), (159, 0.0055467557916750836), (44, 0.005498968594302825), (3, 0.0), (4, 0.0), (13, 0.0), (14, 0.0), (18, 0.0), (20, 0.0), (21, 0.0), (23, 0.0), (25, 0.0), (26, 0.0), (29, 0.0), (34, 0.0), (42, 0.0), (47, 0.0), (49, 0.0), (50, 0.0), (51, 0.0), (52, 0.0), (60, 0.0), (62, 0.0), (66, 0.0), (71, 0.0), (81, 0.0), (82, 0.0), (83, 0.0), (89, 0.0), (99, 0.0), (100, 0.0), (103, 0.0), (114, 0.0), (116, 0.0), (120, 0.0), (124, 0.0), (127, 0.0), (129, 0.0), (131, 0.0), (133, 0.0), (134, 0.0), (138, 0.0), (140, 0.0), (145, 0.0), (147, 0.0), (149, 0.0), (154, 0.0), (157, 0.0), (161, 0.0), (163, 0.0), (164, 0.0), (166, 0.0), (169, 0.0), (173, 0.0), (175, 0.0), (176, 0.0), (177, 0.0), (183, 0.0), (184, 0.0), (186, 0.0), (188, 0.0), (190, 0.0), (192, 0.0), (193, 0.0), (195, 0.0), (196, 0.0), (197, 0.0), (198, 0.0), (204, 0.0), (205, 0.0), (206, 0.0), (207, 0.0), (209, 0.0), (211, 0.0), (213, 0.0), (214, 0.0), (215, 0.0), (216, 0.0), (221, 0.0), (222, 0.0), (224, 0.0), (226, 0.0), (227, 0.0), (229, 0.0), (238, 0.0), (243, 0.0), (245, 0.0), (246, 0.0), (248, 0.0), (250, 0.0), (253, 0.0), (254, 0.0), (256, 0.0), (262, 0.0), (267, 0.0), (268, 0.0), (270, 0.0)]

In [94]:
print("Top 30 Movies Suggested for You: \n")
i = 1
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if (i<31):
    print(i,'.',title_from_index)
    i+=1

Top 30 Movies Suggested for You:

1 . Star Wars
2 . Back to the Future Part III
3 . Blade Runner
4 . Raiders of the Lost Ark
5 . Donnie Darko
6 . Indiana Jones and the Last Crusade
7 . Indiana Jones and the Kingdom of the Crystal Skull
8 . The Conversation
9 . Star Trek IV: The Voyage Home
10 . Indiana Jones and the Temple of Doom
11 . Jurassic Park III
12 . The Matrix Reloaded
13 . Alien
14 . Star Trek III: The Search for Spock
15 . Memento
16 . The Matrix Revolutions
17 . The Matrix
18 . Inspector Gadget
19 . Star Trek: The Motion Picture
20 . The Hours
21 . Star Trek V: The Final Frontier
22 . Star Trek: Generations
23 . Jarhead
24 . Poseidon
25 . Star Trek VI: The Undiscovered Country
26 . Jaws: The Revenge
27 . Star Trek II: The Wrath of Khan
28 . 12 Angry Men
29 . Jurassic Park
30 . 20,000 Leagues Under the Sea

<h1>Top 10 Moviw Recommendation System</h1>

In [108]:
Movie_Name = input(" Enter your favourite movie name :")

list_of_all_titles = df['Movie_Title'].tolist()

Find_Close_Match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_Match =  Find_Close_Match[0]

Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]

Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Movie]))

sorted_similar_movies = sorted(Recommendation_Score ,key = lambda x:x[1], reverse = True)

print("Top 10 Movies suggested for you: \n")

i=1

#Score, key lambda x:x[1], reverse=True)

for movie in sorted_similar_movies:
    index = movie[0]  # Corrected the typo "indexde" to "index"

    # Assuming df is your DataFrame containing movie data
    title_from_index = df[df.Movie_ID == index]['Movie_Title'].values # Corrected the typo "Movie Title" to "Movie_Title"

    if (i<11):  # Corrected "(1c11)" to a valid condition
        print(i, '.',title_from_index)
        i+=1

 Enter your favourite movie name :star wars
Top 10 Movies suggested for you:

1 . ['Star Wars']
2 . ['Wag the Dog']
3 . ["Boys Don't Cry"]
4 . ['Fight Club']
5 . ['Snow White and the Seven Dwarfs']
6 . ["Schindler's List"]
7 . ['Unforgiven']
8 . ['Batman & Robin']
9 . ['The English Patient']
10 . ['As It Is in Heaven']